<div class="cover-new">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">ルームを作る</h1>
    </div>
    <div class="row justify-content-center">
      <%= form_with model: @post, url: "/storylines/#{@post.id}", local: true do |f| %>
        <div class="form-group">
          <label class="form-label">タイトル</label>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="form-label">内容</label>
          <%= f.text_area :subject, rows: 10, class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="form-label">タグ</label>
          <%= f.text_field :tags, rows: 10, class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="form-label">画像</label><br>
          <%= f.label :image %>
          <%= f.file_field :image %>
          <% if @post.image? %>  <!-- アップロード画像がある場合に実行する -->
            <p>
              <%= image_tag @post.image.url %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
            </p>
          <% end %>
        </div>
        <div class="form-group">
          <label class="form-label">private</label>
          <!-- チェックボックスで真偽を返す -->
          <%= f.check_box :private, class: "form-control", :as => :boolean %>
        </div>
        <!-- 提出する -->
        　　　
        <div class="form-group">
          <%= f.submit "作成", class: "btn btn-primary" %> <!-- 提出ボタン -->
      <% end %>
      <%if @post.private==true %>
      <%=link_to "AddUsers","/storylines/#{@post.id}/add_user" %>
      <%end%>
      </div>
    </div>
  </div>
</div>