<div class="cover-index">
  <div class="container">
    <div class="row ">
      <div class="col d-flex justify-content-center">
        <h1 class="fw-bold text-primary mt-3">投稿一覧</h1>
      </div>
    </div>
    <div class="row ">
      <% @posts.each do |post| %>
        <div class="col-lg-4 col-md-6">
          <div class="one-post">
            <div class="card">
              <p class="caption"><%= post.user.name %></p>
              <p class="caption"><%= link_to post.title, "/forms/#{post.id}" %></p>
              <% if post.image_id? %>  <!-- アップロード画像がある場合に実行する -->
                 <p class="card-img-top img-fluid"> <%= image_tag post.image_id.half.url %></p><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
              <% end %>
              <p class="caption"><%= post.text %></p>
              <p class="caption"><%= "#{post.comments.count} コメント" %></p>
          </div>
        </div>
    </div>
      <% end %>
    <%= paginate @posts %>
  </div>
</div>