<div class="post" id="post-<%= post.id %>">
  <% if post.favorited_by?(current_user) %>
    <%= button_to form_favorites_path(post), method: :delete, class: "btn btn-outline-danger favorite_btn" do %>
      ♥<%= post.favorites.count %> いいね
    <% end %>
  <% else %>
    <%= button_to form_favorites_path(post), data: { turbo: true, turbo_method: :post },class: "btn btn-outline-light favorite_btn" do %>
      ♡<%= post.favorites.count %> いいね
    <% end %>
  <% end %>
</div>